body {
    color: #222;
    background: #f4f4f4;
    font: 400 14 px CoreSans, Arial, sans-serif;
}

a {
    color: #222;
}

a: hover {
    text-decoration: underline;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

input {
    padding: 10 px;
    border-radius: 5 px;
    outline: none;
    margin-right: 10 px;
    border: 1 px solid #dddddd;
}

button {
    padding: 10 px;
    border-radius: 5 px;
    border: 1 px solid #dddddd;
    background: transparent;
    color: #808080;
    cursor: pointer;
}

button: hover {
    color: #222;
}

*: focus {
    outline: none;
}